<div class="project-stats">
	<div class="row">

		<!-- number of backers -->
		<div class="col-xs-4 col-sm-12">
			<div class="val">
				2
			</div>
			<div class="lab">
				Volunteers
			</div>
		</div>

		<!-- goal -->
		<div class="col-xs-4 col-sm-12">
			<div class="val">
				2 weeks
			</div>
			<div class="lab">
				Date
			</div>
		</div>

		<!-- days to go -->
		<div class="col-xs-4 col-sm-12">
			<div class="val">
				20/01/2016
			</div>
			<div class="lab">
				Deadline
			</div>
		</div>

	</div>
</div>